.pages_home {
  .container_text {
    display: table-cell;
    padding-right: 40px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .container_cellphone{
    flex: 1;
    display: table-cell;
    vertical-align: middle;
    .container_whatsapp {
      width: 100%;
      height: 599px;
      background: url("http://localhost:3000/img/whatsapp-cellphone.png") no-repeat; // TODO: Fix it
      background-position: right;
      background-size: contain;
    }
  }
}
